/* .list-box .img-box-film{
    height: 100px;
    width: 120px;
} */
.list-box .img-box-film img{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}

.img-box{
    height: 100px;
    width: 120px;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.img-box img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.list-box{
    padding: 2%;
    margin: 1% 0 3% 0;
    background-color:   #f4f6f7;
    border-radius:20px;
}

.box-container{
    margin: 0 auto 0 2%;
}

.btn-box-actor{
    margin: 2% auto auto 14%;
}

.btn-actor{
    background-color: #17202a;
    color: #fdfefe;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 2%;
}

.btn-actor:hover{
    color: #fdfefe;
    opacity: 0.5;
}

.btn-edit{
    background-color: #17202a;
    color: #fdfefe;
    margin-right: 14px;
    width: 80px;
    height: 43px;
    border-radius: 10%;
}

.btn-edit:hover{
    color: #fdfefe;
}

.btn-delete{
    background-color: #17202a;
    color: #fdfefe;
    width: 80px;
    height: 43px;
    border-radius: 10%;
}

.btn-delete:hover{
    color: #fdfefe;
}

.btn-box{
     /* trbl */
    margin: auto 5% auto auto;
    display: flex;
}

.paginationBtn{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBtn a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #bfc9ca ;
    color: #17202a;
    cursor: pointer;
}

.paginationBtn a:hover{
    background-color:#bfc9ca ;
}

.paginationActive a {
    color: #17202a;
    background-color: #bfc9ca ;
}
  
.paginationDisabled a {
    color: #17202a;
}