/* .add-film{
    padding:5%;
} */

.list-box-edit{
    padding: 2%;
    margin: 14%;
    background-color:#f4f6f7;
    border-radius:20px;
}
/* .box-container{
    margin: 0 auto 0 2%;
} */

.btn-edit{
    background-color: #17202a;
    color: #fdfefe;
    margin-right: 14px;
    width: 80px;
    height: 43px;
}