/* .actor-box{
    background-color:  #ecf0f1 ;
} */

.list-film{
    padding: 2% 14%;
}

.list-box-actor{
    padding: 2%;
    margin: 5% 14% 0 14%;
    background-color:#f4f6f7;
    border-radius:20px;
}

.list-box-user{
    padding: 2%;
    margin: 5% 41% 0 14%;
    background-color:#f4f6f7;
    border-radius:20px;
}

.icon{
    margin-left: 71%;
    margin-bottom: -16.7%;
    height: 15%;
    width: 15%;
}

.box-container h3{
    margin: revert;
}